In [2]:
import recognizers_suite as Recognizers
from recognizers_suite import Culture, ModelResult

# Use English for the Recognizers culture
culture = Culture.English

results = Recognizers.recognize_number(
    "I have two apples and 3 oranges", culture)

results_2 = Recognizers.recognize_dimension("John Alice Bob", culture)

In [3]:
results

[<recognizers_text.model.ModelResult at 0x2adaae24d60>,
 <recognizers_text.model.ModelResult at 0x2adaae24970>]

In [4]:
import json

json_dumps = json.dumps(results, default=lambda o: o.__dict__, indent=4)

In [5]:
print(json_dumps)
print(type(json_dumps))

[
    {
        "start": 7,
        "end": 9,
        "resolution": {
            "value": "2"
        },
        "text": "two",
        "type_name": "number"
    },
    {
        "start": 22,
        "end": 22,
        "resolution": {
            "value": "3"
        },
        "text": "3",
        "type_name": "number"
    }
]
<class 'str'>

In [6]:
type(results)

list

In [7]:
type(results[0])

recognizers_text.model.ModelResult

In [8]:
results[0].type_name

'number'

In [9]:
results_2

[]

In [10]:
import pandas as pd

data = {
    'name': ['John', 'Alice', 'Bob'],
    'age': [25, 30, 35],
    'height': [175.5, 162.0, 180.3],
    'is_student': [True, False, True],
    'grades': ['A', 'B+', 'A-'],
    'birth_date': pd.to_datetime(['1995-03-15', '1990-09-22', '1988-06-10']),
}
df = pd.DataFrame(data)

In [22]:
for header in df.columns:
    x = df[header][:2].to_list()
    print(type(df[header][:2].to()))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [23]:
x

[Timestamp('1995-03-15 00:00:00'), Timestamp('1990-09-22 00:00:00')]

In [26]:
type(x[0])

AttributeError: 'Timestamp' object has no attribute 'to_string'

In [21]:
"|".join(x)

TypeError: sequence item 0: expected str instance, Timestamp found

In [2]:
import pandas as pd

hourly_interval = pd.date_range(start='2023-01-01', end='2023-01-31', freq='H')
hourly_df = pd.DataFrame({'timestamp': hourly_interval})

daily_interval = pd.date_range(start='2023-01-01', end='2023-12-31', freq='D')
daily_df = pd.DataFrame({'timestamp': daily_interval})

weekly_interval = pd.date_range(start='2023-01-01', end='2023-12-31', freq='W')
weekly_df = pd.DataFrame({'timestamp': weekly_interval})

monthly_interval = pd.date_range(start='2023-01-01', end='2023-12-31', freq='M')
monthly_df = pd.DataFrame({'timestamp': monthly_interval})

In [4]:
hourly_df

              timestamp
0   2023-01-01 00:00:00
1   2023-01-01 01:00:00
2   2023-01-01 02:00:00
3   2023-01-01 03:00:00
4   2023-01-01 04:00:00
..                  ...
716 2023-01-30 20:00:00
717 2023-01-30 21:00:00
718 2023-01-30 22:00:00
719 2023-01-30 23:00:00
720 2023-01-31 00:00:00

[721 rows x 1 columns]

In [7]:
import pandas as pd

# 创建示例 DataFrame
df = pd.DataFrame(
    {
        'timestamp': [
            '2023-01-01',
            '2023-01-02',
            '2023-01-03',
            '2023-01-04',
            '2023-01-05',
        ],
        'value': [10, 20, 15, 30, 25],
    }
)

# 将 'timestamp' 列转换为日期时间类型
# df['timestamp'] = pd.to_datetime(df['timestamp'])

# 设置 'timestamp' 列为索引
df.set_index('timestamp', inplace=True)

print(df)
# 推断频率
freq = pd.infer_freq(df.index)

print(freq)

            value
timestamp
2023-01-01     10
2023-01-02     20
2023-01-03     15
2023-01-04     30
2023-01-05     25
D

In [28]:
import pandas as pd
import json

data = {
    "round": [
        "first round",
        "second round",
        "semi-finals",
        "final",
        "third round",
        "fifth round",
        "group stage",
        "fourth round",
    ],
    "clubs remaining": ["156", "113", "4", "2", "59", "16", "8", "32"],
    "clubs involved": ["86", "108", "4", "2", "54", "16", "8", "32"],
    "winners from previous round": ["none", "43", "4", "2", "54", "16", "8", "27"],
    "new entries this round": ["86", "65", "none", "none", "none", "none", "none", "5"],
    "leagues entering at this round": [
        "tff third league & turkish regional amateur league",
        "süper lig & tff first league & tff second league",
        "none",
        "none",
        "none",
        "none",
        "none",
        "süper lig",
    ],
}

# Generate a time series column
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2023-01-08')
timestamps = pd.date_range(start=start_date, end=end_date, freq='D')

# Add the time series column to the data dictionary
data['timestamp'] = [str(ts) for ts in timestamps]
# Create the DataFrame
df = pd.DataFrame(data)

# Save the DataFrame as a JSON file

pair = df.to_dict(orient='list')

with open('../examples/test_time_series.json', 'w') as f:
    json.dump(pair, f)

In [9]:
ls

 Volume in drive C is OSDisk
 Volume Serial Number is 041E-0131

 Directory of c:\Users\v-yuansui\Workspace\TableProvider\test\agents

05/22/2023  08:56 PM    <DIR>          .
05/24/2023  05:20 PM    <DIR>          ..
05/19/2023  01:13 PM                 0 __init__.py
05/22/2023  08:57 PM    <DIR>          __pycache__
05/19/2023  01:12 PM             7,115 test_agents.ipynb
05/24/2023  05:18 PM             5,197 test_agents.py
               3 File(s)         12,312 bytes
               3 Dir(s)  41,777,041,408 bytes free